@model IdentityCore.Models.TwoFactorModel

<h1>Multifactor Authentication</h1>
<hr />

<p> Please enter your authentication code in the field below</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="TwoFactorAuthentication" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div class="form-group">
                <label asp-for="TwoFactorAuthCode" class="control-label"></label>
                <input asp-for="TwoFactorAuthCode" class="form-control" />
                <span asp-validation-for="TwoFactorAuthCode" class="text-danger"></span>
            </div>
            <input asp-for="RememberMe" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}