@{
    var IsAuthenticated = User.Identity.IsAuthenticated;
}

@if (IsAuthenticated)
{

    <li class="nav-item">
        <label class="nav-link text-dark">Hello <b>@User.Identity.Name.Split('@')[0].Trim()</b></label>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Settings
        </a>
        <div class="dropdown-menu">
            <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="MfaConfiguration">Two Factor Authentication</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="SignOut">Logout</a>
        </div>
    </li>

}
else
{

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Signin">Login</a>
    </li>

}
